@charset "UTF-8";
/* Utilisation des unités relatives */
body {
  font-size: 16px;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* En-tête */
/* En-tête */
header {
  background-image: url(./Images/pexels-steve-johnson-12843338.jpg);
  color: white;
  padding: 20px;
}
header .en-tete {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .en-tete .logo .titre {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  margin: 0;
}
header .en-tete .reseaux a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}
header .en-tete .reseaux a:hover {
  color: #3498db;
}
header .en-tete .reseaux a:nth-child(2):hover {
  color: #2ecc71;
}
header .en-tete .reseaux a:nth-child(3):hover {
  color: #333;
}
header .en-tete .reseaux a:nth-child(4):hover {
  color: #0e76a8;
}
header .intro {
  text-align: center;
  margin-top: 7cm;
}
header .intro .welcome {
  margin-bottom: 10px;
  font-size: 100px;
  opacity: 0; /* Initialement invisible */
  animation: fadeIn 1s forwards; /* Animation de fondu en entrée */
}
header .intro .presentation {
  font-size: 50px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  opacity: 0; /* Initialement invisible */
  animation: fadeIn 1s forwards; /* Animation de fondu en entrée */
  color: rgb(230, 97, 57); /* Couleur du texte */
  padding: 10px; /* Espacement intérieur */
  margin-bottom: 9cm; /* Marge en bas */
}
header .intro .presentation strong {
  color: #2ecc71;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
    content: "Bonjour,";
  }
  50% {
    opacity: 1;
    content: "Bonjour, Je me présente";
  }
  75% {
    opacity: 1;
    content: "Bonjour, Je me présente. Présente-moi.";
  }
  100% {
    opacity: 1;
    content: "Bonjour, Je me présente. Présente-moi.";
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 9;
  }
}
/* Footer */
footer {
  display: block;
  background-color: rgba(89, 10, 216, 0.281);
  color: white;
  padding: 50px;
}
footer .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer .remerciment .merci {
  margin: 0;
}
footer .footer .createur .date {
  margin: 0;
}
footer .footer .reseaux a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}
footer .footer .reseaux a:hover {
  color: #3498db;
}
footer .footer .reseaux a:nth-child(2):hover {
  color: #2ecc71;
}
footer .footer .reseaux a:nth-child(3):hover {
  color: #333;
}
footer .footer .reseaux a:nth-child(4):hover {
  color: #0e76a8;
}

/* Responsive */
@media (max-width: 1500px) {
  header .intro .welcome {
    margin-left: 30%;
  }
  header .intro .presentation {
    margin-left: 40%;
  }
}
@media (max-width: 1200px) {
  header .intro .welcome {
    margin-left: 20%;
  }
  header .intro .presentation {
    margin-left: 30%;
  }
}
@media (max-width: 900px) {
  header .logo .titre {
    font-size: 20px;
  }
  header .reseaux a i {
    font-size: 20px;
  }
  header .intro .welcome {
    margin-top: 200px;
    margin-left: 25%;
    font-size: 35px;
  }
  header .intro .presentation {
    margin-left: 35%;
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  header .en-tete {
    flex-direction: column;
  }
  header .en-tete .logo {
    margin-bottom: 10px;
  }
  header .en-tete .reseaux {
    margin-top: 10px;
    justify-content: center;
  }
}
@media (max-width: 600px) {
  header {
    padding: 5% 5%;
  }
  header .intro .welcome {
    font-size: 25px;
  }
  header .intro .presentation {
    margin-left: 10%;
    font-size: 12px;
  }
  header .en-tete {
    flex-direction: column;
  }
  header .en-tete .logo {
    order: 2;
  }
  header .en-tete .reseaux {
    order: 1;
    margin-top: 20px;
  }
  header .en-tete .reseaux a {
    display: inline-block;
    margin: 0 5px;
  }
  header .en-tete .reseaux a i {
    font-size: 25px;
  }
}
@media (max-width: 400px) {
  header .intro .welcome {
    font-size: 20px;
  }
  header .intro .presentation {
    margin-left: 5%;
    font-size: 10px;
  }
  footer .footer .createur .date {
    font-size: 10px;
  }
}/*# sourceMappingURL=style.css.map */